
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VistaUno</title>

    <style>
        /* Estilo para el contenedor */
        .container {
            display: flex; /* Hace que los elementos dentro del contenedor se muestren en línea (horizontal) */
            justify-content: center; /* Centra los elementos horizontalmente */
        }
        .list {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/Home/Inicio" class="list">Vista 1</a>
        <a href="/Home/VistaDos" class="list">Vista 2</a>
        <a href="/Home/VistaTres" class="list">Vista 3</a>
    </div>
    <h1 class="container"> Estas en la vista 1</h1>

</body>
</html>
